@import url('https://fonts.googleapis.com/css2?family=Bungee&family=K2D&family=Nabla&display=swap');

/*
font-family: 'Bungee', cursive;
font-family: 'K2D', sans-serif;
font-family: 'Nabla', cursive;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'K2D', sans-serif;
	color: #FFF;
}

body{
	background-color: #1c1c1c;
	animation: fadeInDown 1.5s;
}

nav{
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1c1c1c;
	color: #FFF;
	padding: 16px 24px;
	overflow: hidden;
}

nav h1 {
	padding: 8px 16px;
	font-family: 'Bungee', cursive;
}

nav h1:hover{
	color: #42C6FF;
	cursor: pointer;
}

.menu{
	display: none;
	align-items: center;
	margin: 0 -16px;
}

.menu a{
	margin: 0 16px;
	color: #FFF;
	text-decoration: none;
	transition: 0.4s;
	
}

.menu a:hover{
	color: #42C6FF;
	transform: rotate(2deg) scale(1.1,1.1);
	transition: 0.4s;
}

.hamburger{
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	display: block;
	width: 32px;
	height: 32px;
}

.hamburger span{
	color: white;
	font-size: 32px;
}

.mobile-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;

	padding: 96px;
	opacity: 0;
	transform: translateY(-100%);
	background-color:#1c1c1c;
	color: #FFF;
	transition: 0.4s;
}

.mobile-menu.is-open{
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a{
	display: block;
	padding: 16px;
	color:#FFF;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	transition: 0.4s;
}

.mobile-menu a:hover{
	color: #42C6FF;
	transform: rotate(2deg) scale(1.1,1.1);
}

@media (min-width: 768px){
	.mobile-menu, .hamburger{
		display: none;
	}

	.menu{
		display: flex;
	}
}

main{
	display: block;
}

.team-member{
	width: 50%;
    padding: 30px;
    margin: 35px auto;
    text-align: left;
	color: #FFF;
	background: rgba(255, 255, 255, 0.02);
	border-radius: 15px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.7);
	transition: 0.4s;
	box-shadow: 0px 0px 10px #FFF;
}

@media screen and (max-width: 600px){
	.team-member {
	width: 80%;
	padding: 30px;
	margin: 35px auto;
	text-align: left;
	color: #FFF;
	background: rgba(255, 255, 255, 0.02);
	border-radius: 15px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.7);
	transition: 0.4s;
	box-shadow: 0px 0px 10px #FFF;
	
}
}

.team-member:hover{
	transform: scale(1.1,1.1) rotate(1deg);
}

.team-member h4{
	font-weight: 400;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

@keyframes fadeInDown {
	0% {
	   opacity: 0;
	   transform: translateY(-20px);
	}
	100% {
	   opacity: 1;
	   transform: translateY(0);
	}
} 