@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

#myButton{
    border: 2px black solid;
    border-radius: 6px;
    background: none;
    font-family: 'Ubuntu', sans-serif;
}

.options{
    text-align: center;
    padding: 25px;
}

.options legend{
    border: 1px;
    text-align: left;
}

.options fieldset{
    border-radius: 6px;
    border: 2px black solid;
}
